version: "3.9"

services:
  frontend:
    container_name: frontend-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.dev
    environment:
      NODE_ENV: development
    ports:
      - "${FRONTEND_PORT_EXTERNAL}:${FRONTEND_PORT_EXTERNAL}"
    volumes:
      - .:/app
      - /app/node_modules
