version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env.dev
    environment:
      NODE_ENV: production
    ports:
      - "${FRONTEND_PORT}:${FRONTEND_PORT}"
