.day-header {
    height: 56px;
    padding: 6px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #e0e0e0;
    background: #fff;
}

.day-header__weekday {
    font-size: 18px;
    font-weight: 500;
    color: #5f6368;
    line-height: 1;
}

.day-header__date {
    margin-top: 4px;
    font-size: 22px;
    font-weight: 600;
    color: #202124;
    line-height: 1;
}

.day-header__date-circle {
    display: inline-flex;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: #1a73e8;
    color: #fff;
    align-items: center;
    justify-content: center;
}