.current-time {
    position: absolute;
    left: 0;
    right: 0;
    pointer-events: none;
    z-index: 5;
}

.current-time__line {
    margin-top: -1px;
    height: 2px;
    background: #ea4335;
}

.current-time__dot {
    position: absolute;
    left: -5px;
    top: -5px;
    width: 10px;
    height: 10px;
    background: #ea4335;
    border-radius: 50%;
}